.ezy__epgrid11_kMIo8ob7 {
    /* Bootstrap variables */
    --bs-body-color: #212529;
    --bs-body-bg: rgb(255, 255, 255);

    /* Easy Frontend variables */
    --ezy-theme-color: rgb(13, 110, 253);
    --ezy-theme-color-rgb: 13, 110, 253;
    --ezy-card-bg: #ffffff;
    --ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
    --ezy-img-bg: #f8f8f8;
    --ezy-border-color: #e8e7f3;

    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    overflow: hidden;
    position: relative;
    padding: 60px 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .ezy__epgrid11_kMIo8ob7 {
        padding: 100px 0;
    }
}

/* Gray Block Style */
.gray .ezy__epgrid11_kMIo8ob7,
.ezy__epgrid11_kMIo8ob7.gray {
    /* Bootstrap variables */
    --bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__epgrid11_kMIo8ob7,
.ezy__epgrid11_kMIo8ob7.dark-gray {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(30, 39, 53);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
    --ezy-img-bg: #242e3e;
    --ezy-border-color: rgba(255, 255, 255, 0.15);
}

/* Dark Block Style */
.dark .ezy__epgrid11_kMIo8ob7,
.ezy__epgrid11_kMIo8ob7.dark {
    /* Bootstrap variables */
    --bs-body-color: #ffffff;
    --bs-body-bg: rgb(11, 23, 39);

    /* Easy Frontend variables */
    --ezy-card-bg: rgb(30, 39, 53);
    --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
    --ezy-img-bg: #242e3e;
    --ezy-border-color: rgba(255, 255, 255, 0.15);
}

.ezy__epgrid11_kMIo8ob7-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .ezy__epgrid11_kMIo8ob7-heading {
        font-size: 48px;
    }
}

.ezy__epgrid11_kMIo8ob7-item {
    background-color: var(--ezy-card-bg);
    box-shadow: var(--ezy-card-shadow);
    border: 1px solid var(--ezy-border-color);
    border-radius: 10px;
    overflow: hidden;
}

.ezy__epgrid11_kMIo8ob7-img {
    background-color: var(--ezy-img-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 265px;
}

.ezy__epgrid11_kMIo8ob7-item-discount {
    background-color: #ff2556;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: 0 7px 7px 0;
}

.ezy__epgrid11_kMIo8ob7-content a {
    text-decoration: none;
    color: var(--bs-body-color);
    transition: 0.4s;
}

.ezy__epgrid11_kMIo8ob7-content a:hover {
    color: var(--ezy-theme-color);
}

.ezy__epgrid11_kMIo8ob7-content h6 {
    font-size: 17px;
}

.ezy__epgrid11_kMIo8ob7-rating {
    font-size: 14px;
    color: #ffd451;
}

.ezy__epgrid11_kMIo8ob7-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.5s;
    opacity: 0;
}

.ezy__epgrid11_kMIo8ob7-item-overlay {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ezy__epgrid11_kMIo8ob7-img:hover .ezy__epgrid11_kMIo8ob7-overlay {
    opacity: 1;
}